docs/
licenses/
node_modules/
attachments/
test/
dist-client/
.vscode
.prettierrc
logs/
.editorconfig
.gitignore
.git
.stylelintrc
.travis.yml
.yarnclean
.DS_Store
*.log
db.sqlite
npm-debug.log
nodemon.json
tsconfig.json
ormconfig.js