{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.json", ".md", ".markdown"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
